<!DOCTYPE html>
<html lang="sv">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="module" src="js/menu.js"></script>
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Lägg till kurs</title>
</head>

<body>
    <header>
        <a href="/" aria-label="Tillbaks till startsida"><img src="bilder/placeholder logo.svg" alt="logotyp"></a>
        <h1>Lägg till kurs</h1>
        <nav id="pc_nav">
            <ul>
                <li><a href="/">Kurser</a></li>
                <li><a href="/about_site">Om sidan</a></li>
                <li class="currentSite"><a href="/add_course">Lägg till kurs</a></li>
            </ul>
        </nav>
        <button type="button" aria-label="Öpnna navigeringsmeny" id="mobile_btn"><img src="bilder/bars-solid.svg"
                alt="Navigeringsmeny"></button>
        <div id="mobile_menu">
            <nav id="mobile_nav">
                <button type="button" aria-label="Stäng navigeringsmeny" id="mobile_btn_close"><img
                        src="bilder/xmark-solid.svg" alt="Navigeringsmeny"></button>
                <ul>
                    <li><a href="/"><span>Kurser</span></a></li>
                    <li><a href="/about_site"><span>Om sidan</span></a></li>
                    <li class="currentSite"><a href="/add_course"><span>Lägg till kurs</span></a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <form method="post">
            <fieldset>
                <legend>Lägg till kurs</legend>
                <label for="code">Kurskod:</label><br>
                <input type="text" id="code" name="code"><br>

                <label for="school">Lärosäte:</label><br>
                <input type="text" id="school" name="school"><br>

                <label for="name">Kursnamn:</label><br>
                <input type="text" id="name" name="name"><br>

                <label for="prog">Progression:</label><br>
                <input type="text" id="prog" name="prog" maxlength="1"><br>

                <label for="syll">Studieplan:</label><br>
                <input type="text" id="syll" name="syll"><br>

                <input type="submit" value="add course">
            </fieldset>
        </form>
        <p id="err_message">
            <%= message %>

                <a href="/">
                    <%= linkmessage %>
                </a>
        </p>
    </main>
</body>

</html>